@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import "tailwindcss";

@theme {
  --font-Poppins: "Poppins", sans-serif;
}

:root,
html,
body {
  height: 100vh;
  background-color: #23262c;
}
